@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  font-family: "Encode Sans SC", sans-serif;
}
.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* prevent overflow*/
  background: #272727;
}
.gui {
  position: fixed;
  top: 0;
  left: 0;
  width: max-content;
  z-index: 10;
  .helper {
    background-color: rgba(39, 39, 39, 0.911);
    padding: 2rem;
    display: none;
    border-radius: 5px;
    h2 {
      color: rgb(167, 166, 166);
    }
    &_options {
      margin-top: 1rem;
      span {
        background-color: rgb(221, 221, 221);
        padding: 0.5rem;
        font-weight: bold;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px,
          rgba(17, 17, 26, 0.1) 0px 24px 80px;
        border-radius: 5px;
      }
    }
  }
  .button {
    padding: 4px;
    z-index: 10;
    & > * {
      padding: 7px;
      color: green;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
        transition: all 0.5s;
      }
    }
    &_close {
      display: none;
    }
  }
}
.frame {
  color: red;
  font-size: 20px;
}
